<nav class="navbar navbar-expand-lg navbar-light bg-light nav-background-color navbar-height" [hidden]="!checkLoginSuccesful()">
  <!-- <a class="navbar-brand "  style="text-align: center"><img src="assets/images/school-name.jpg" style="height:65px; width:170px;margin-top:25px" alt="Golars"> 
  </a> -->
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" routerLink="home">Home </a>
    </li>


    <li class="nav-item dropdown" [hidden]="!isAdmin">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Users
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" routerLink="users" >List of Users</a>
        <a class="dropdown-item" routerLink="newuser" >Add User</a>
      </div>
    </li>
    <li class="nav-item active" [hidden]="!isAdmin">
      <a class="nav-link" routerLink="settings">Settings </a>
    </li>
  </ul>

  <div class="form-inline my-2 my-lg-0">
      <span style="padding:5px;color:white">Welcome, {{fullName}}</span>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="logout()" routerLink="#">Logout</a>
      </li>
    </ul>
  </div>
</div>
</nav>
<router-outlet  (activate)="checkValidUser()"></router-outlet>