<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.url">jdbc:mysql://localhost/customerportal?autoReconnect=true
		</property>
		<property name="connection.username">golars</property>
		<property name="connection.password">golars</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="connection.pool_size">100</property>
		<mapping resource="com/customerportal/config/Facilities.hbm.xml" />
		<mapping resource="com/customerportal/config/User.hbm.xml" />
		<mapping resource="com/customerportal/config/Account.hbm.xml" />
		<mapping resource="com/customerportal/config/Contact.hbm.xml" />
		<mapping resource="com/customerportal/config/Companies.hbm.xml" />
		<mapping resource="com/customerportal/config/loginhistory.hbm.xml" />
		<mapping resource="com/customerportal/config/inventoryreport.hbm.xml" />
		<mapping resource="com/customerportal/config/tankmonitorsignup.hbm.xml" />
		<mapping resource="com/customerportal/config/tankalarmhistory.hbm.xml" />
		<mapping resource="com/customerportal/config/userpreferences.hbm.xml" />
		<mapping resource="com/customerportal/config/jobschedule.hbm.xml" />
		<mapping resource="com/customerportal/config/jobschedulehistory.hbm.xml" />
		<mapping resource="com/customerportal/config/gaslevel.hbm.xml" />
		</session-factory>
</hibernate-configuration> 